<div class="flex flex-col gap-[35px] px-[84px] pt-[105px] pb-[50px]">
  <div class="flex flex-col w-full px-[21px] border border-[#00FF00] pt-[16px] pb-[36px]">
    <div class="flex justify-between items-start">
      <h3 class="text-[30px] font-[400]"> محو الأمية </h3>
      <span class="bg-[#8BEB8B] rounded-xl py-1.5 px-6 text-white"> تم الاجتياز </span>
    </div>
    <div class="flex justify-between items-end">
      <p class="text-[20px] font-[400] mt-[18px] w-[571px] text-[#7E7E7E]">
        يشكل للهيئة مجلس إدارة برئاسة السيد رئيس مجلس الوزراء أو من ينيبه وعضوية وكلاء أول الوزرات المعنية بمحو الأمية
        و(6 ) من الشخصيات المهتمة بقضية محو الأمية.
      </p>
    </div>
  </div>
  <div class="flex flex-col w-full px-[21px] border border-[#F6F6F6] shadow pt-[16px] pb-[36px]">
    <div class="flex justify-between items-start">
      <h3 class="text-[30px] font-[400]"> محو الأمية </h3>
    </div>
    <div class="flex justify-between items-end">
      <p class="text-[20px] font-[400] mt-[18px] w-[571px] text-[#7E7E7E]">
        يشكل للهيئة مجلس إدارة برئاسة السيد رئيس مجلس الوزراء أو من ينيبه وعضوية وكلاء أول الوزرات المعنية بمحو الأمية
        و(6 ) من الشخصيات المهتمة بقضية محو الأمية.
      </p>
      <button (click)="navigateTo('/students/graduation-progress/register')"  class="bg-[#044C8C] rounded-xl py-1.5 px-6 text-white cursor-pointer"> تسجيل البيانات </button>

    </div>
  </div>
  <div class="flex flex-col w-full px-[21px] border border-[#F6F6F6] shadow pt-[16px] pb-[36px]">
    <div class="flex justify-between items-start">
      <h3 class="text-[30px] font-[400]"> محو الأمية </h3>
    </div>
    <div class="flex justify-between items-end">
      <p class="text-[20px] font-[400] mt-[18px] w-[571px] text-[#7E7E7E]">
        يشكل للهيئة مجلس إدارة برئاسة السيد رئيس مجلس الوزراء أو من ينيبه وعضوية وكلاء أول الوزرات المعنية بمحو الأمية
        و(6 ) من الشخصيات المهتمة بقضية محو الأمية.
      </p>
      <button (click)="navigateTo('/students/graduation-progress/register')"  class="bg-[#044C8C] rounded-xl py-1.5 px-6 text-white cursor-pointer"> تسجيل البيانات </button>
    </div>
  </div>

</div>
